 <section class="jumbo1">
    <div class="jumbogrid">
      <div class="jumbobox">
      <img src="https://image.ibb.co/bxL6J9/branding.png">
      </div>
      <div class="jumbobox">
      <h1>ЦЕНТР МОНИТОРИНГА<br>И ЭКСПЕРТИЗЫ<br>РЫНКА</h1>
      </div>
    </div>