    <section class="contacts" id="4">
      <!-- <div class="container"> -->
        <div class="textboxc">
          <p>Адрес<br>Казахстан, г. Астана, ул. Кунаева 12/1, ВП 18</p>
          <p>Тел<br>+7 (7172) 27 04 60 вн.2405 (call center)<br>+7 (7172) 24 98 72</p>
          <p>email<br>demo@cmer.kz</p>
        <!-- </div> -->
    </section>