<div class="navbar">
      <div class="navbargrid">
            <label id="menuicon" for="toggle"><img  id="menuicon" src="./img/icons/menu.svg"></label>
            <div class="menugrid">
    	      <div class="menubox"><a href="../Main/body.html">Главная</a></div>
  	      <div class="menubox"><a href="../zakup/index.html">Планы закупа</a></div>
  	      <div class="menubox"><a href="../vakansii/index.html">Вакансии</a></div>
   	      <div class="menubox"><a href="#">Услуги</a></div>
              <div class="menuboxp"><a href="#1">Досье поставщиков, заказчиков</a></div>
              <div class="menuboxp"><a href="#2">Анализ поставщиков по сегментам рынка</a></div>
              <div class="menuboxp"><a href="#3">Маркетинговое заключение для бизнес-проектов</a></div>
              <div class="menuboxp"><a href="#4">Сравнительный анализ цен</a></div>
            </div>
            <div class="socialmedia">
              <a target="_blank" rel="noopener noreferrer" href="https://facebook.com"><img src="./img/icons/facebook.svg"></a>
              <a target="_blank" rel="noopener noreferrer" href="https://vk.com"><img src="./img/icons/vk.svg"></a>
              <a target="_blank" rel="noopener noreferrer" href="https://twitter.com"><img src="./img/icons/twitter.svg"></a>
              <a target="_blank" rel="noopener noreferrer" href="https://youtube.com"><img src="./img/icons/ut.svg"></a>
              <a target="_blank" rel="noopener noreferrer" href="https://instagram.com"><img src="./img/icons/inst.svg"></a>
          </div>
        </div>
        <input type="checkbox" id="toggle"/>
        <div class="responsivemenu">
    	  <div class="menubox"><a href="../Main/body.html">Главная</a></div>
  	  <div class="menubox"><a href="../zakup/index.html">Планы закупа</a></div>
  	  <div class="menubox"><a href="../vakansii/index.html">Вакансии</a></div>
   	  <div class="menubox"><a href="#">Услуги</a></div>
          <div class="menuboxp"><a href="#1">Досье поставщиков, заказчиков</a></div>
          <div class="menuboxp"><a href="#2">Анализ поставщиков по сегментам рынка</a></div>
          <div class="menuboxp"><a href="#3">Маркетинговое заключение для бизнес-проектов</a></div>
          <div class="menuboxp"><a href="#4">Сравнительный анализ цен</a></div>
        </div>
    </div>
