  <header class="header">
    <div class="navbar">
      <div class="navbargrid">
        <label id="menuicon" for="toggle"><img  id="menuicon" src="https://image.ibb.co/htJoGU/Menu2.png"></label>
        <div class="menugrid">
          <div class="menubox"><a href="#">Главная</a></div>
          <div class="menubox"><a href="#">Планы закупа</a></div>
          <div class="menubox"><a href="#">Вакансии</a></div>
          <div class="menubox"><a href="#">Услуги</a></div>
          <div class="menubox"><a href="#">Проекты</a></div>
          <div class="menuboxp"><a href="#1">О продукте</a></div>
          <div class="menuboxp"><a href="#2">Портал предлагает</a></div>
          <div class="menuboxp"><a href="#3">Вы можете</a></div>
          <div class="menuboxp"><a href="#4">Контакты</a></div>
        </div>
        
         <div class="socialmedia">
          <a target="_blank" rel="noopener noreferrer" href="https://facebook.com"><img src="https://image.ibb.co/jHQUO9/facebook3.png"></a>
          <a target="_blank" rel="noopener noreferrer" href="https://vk.com"><img src="https://image.ibb.co/iXNCAp/vk2.png"></a>
          <a target="_blank" rel="noopener noreferrer" href="https://twitter.com"><img src="https://image.ibb.co/cQFSbU/twitter3.png"></a>
          <a target="_blank" rel="noopener noreferrer" href="https://youtube.com"><img src="https://image.ibb.co/nyUOi9/youtube2.png"></a>
          <a target="_blank" rel="noopener noreferrer" href="https://instagram.com"><img src="https://image.ibb.co/jxJYi9/instagram2.png"></a>
</div>
      </div>
    </div>
    <input type="checkbox" id="toggle"/>
    <div class="responsivemenu">
      <div class="menubox"><a href="#">Главная</a></div>
      <div class="menubox"><a href="#">Планы закупа</a></div>
      <div class="menubox"><a href="#">Вакансии</a></div>
      <div class="menubox"><a href="#">Услуги</a></div>
      <div class="menubox"><a href="#">Проекты</a></div>
      <div class="menuboxp"><a href="#1">О продукте</a></div>
      <div class="menuboxp"><a href="#2">Портал предлагает</a></div>
      <div class="menuboxp"><a href="#3">Вы можете</a></div>
      <div class="menuboxp"><a href="#4">Контакты</a></div>
    </div>

       
  </header>
