 <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-fixed-top">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="#">Главная</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Планы закупок</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Услуги</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Вакансии</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Проекты</a>
      </li>
    </ul>
    <div class="socialmedia">
          <a target="_blank" rel="noopener noreferrer" href="https://facebook.com"><img src="https://image.ibb.co/jHQUO9/facebook3.png"></a>
          <a target="_blank" rel="noopener noreferrer" href="https://vk.com"><img src="https://image.ibb.co/iXNCAp/vk2.png"></a>
          <a target="_blank" rel="noopener noreferrer" href="https://twitter.com"><img src="https://image.ibb.co/cQFSbU/twitter3.png"></a>
          <a target="_blank" rel="noopener noreferrer" href="https://youtube.com"><img src="https://image.ibb.co/nyUOi9/youtube2.png"></a>
          <a target="_blank" rel="noopener noreferrer" href="https://instagram.com"><img src="https://image.ibb.co/jxJYi9/instagram2.png"></a>
</div>
  </div>
</nav>
<!-- <div class="row">
    <div class="col-12">            
        <div class="navbar">
          <div class="navbar-inner">
            <a class="brand" href="#">Title</a>
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Link</a></li>
                  <li><a href="#">Link</a></li>
            </ul>
          </div>
        </div> 
    </div>
</div> -->