<head>
  <link rel="icon" type="" href="https://liter.kz/image/s/w/621/42394-6-novye_podhody_dlya_sel_ru.jpg">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
</head>

<body>
  <center>
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel" style=" width:100%; height: 600px !important;">
      <div class="carousel-inner" role="listbox" style=" width:100%; height: 600px!important; position: absolute !important;">
        <!-- <div class="carousel-item active">
          <img class="d-block w-100" src="https://image.ibb.co/nM3FBU/geoblue.jpg" alt="Первый слайд">
        </div> -->
        <div class="carousel-item active" style="position: relative; width: 100%; overflow: hidden;  height: 600px;">
          <img src="https://image.ibb.co/nCHxQp/image5.jpg" alt="Первый слайд">
            <div class="carousel-caption">
              <h3>Проект1</h3>
            </div>
        </div>

        <div class="carousel-item" style="position: relative; width: 100%; overflow: hidden;  height: 600px;">
          <img src="https://image.ibb.co/iR7Wkp/image1.jpg" alt="Второй слайд">
        </div>
        <div class="carousel-item" style="position: relative; width: 100%; overflow: hidden;  height: 600px;//это сделает фиксирование ">
          <img src="https://image.ibb.co/dwxLd9/image4.jpg" alt="Третий слайд">
        </div>
      </div>
      <!-- Left and right controls -->
  <a class="left carousel-control" href="#carouselExampleControls" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carouselExampleControls" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
      <!-- 
      <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a> -->
    </div>
  </center>
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

  <script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js" integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.4/js/bootstrap.min.js" integrity="VjEeINv9OSwtWFLAtmc4JCtEJXXBub00gtSnszmspDLCtC0I4z4nqz7rEFbIZLLU" crossorigin="anonymous"></script>
</body>