<%=render "partials/branding"%>
<%=render "partials/slides"%>
<div class="container1">
<section class="about" id="1">
  <div class="container">
  <h1>О продукте</h1>
    <div class="agrid">
      <div class="abox">
      <p>Центр мониторинга и экспертизы рынка, дочернее предприятие Национальной Палаты Предпринимателей РК «Атамекен» планирует создание информационно-аналитического портала Фокус Аналитикс.</p>
  </div>
  <div class="abox"></div>
  <div class="abox"></div>
  <div class="abox">
    <p>Настоящий портал генерирует информацию из различных государственных баз данных и дает возможность получать актуальные данные, формализованные в аналитические исследования, маркетинговые заключения, обзоры и прочие информационные инструменты для бизнеса.</p>
  </div>
  </div>
</div>
</section>

<section class="suggest" id="2">
  <div class="container">
    <h1><center>Портал предлагает</center></h1>
    <div class="sgrid">
      <div class="sbox sbox0">
        
      </div>
      <div class="sbox sbox1">
        <img src="https://image.ibb.co/bVpBkp/white.png">
        <p>Открытую аналитическую информацию по основным показателям рынка, которую предприниматель получает по принципу «одного окна»</p>
      </div>
      <div class="sbox sbox2">
        <img src="https://image.ibb.co/bVpBkp/white.png">
        <p>Проведение исследований по заданным параметрам</p>
      </div>
      <div class="sbox sbox3">
        <img src="https://image.ibb.co/bVpBkp/white.png">
        <p>Маркетинговые обзоры и заключения для бизнес-проектов</p>
      </div>
      <div class="sbox sbox4">
        <img src="https://image.ibb.co/bVpBkp/white.png">
        <p>Анализ цен и исследование их динамики</p>
      </div>
      <div class="sbox sbox5">
        <img src="https://image.ibb.co/bVpBkp/white.png">
        <p>Надежный механизм подбора поставщиков</p>
      </div>
      <div class="sbox sbox6">
        <img src="https://image.ibb.co/bVpBkp/white.png">
        <p>Актуальную информацию о производителях и дистрибьюторах товаров и услуг</p>
      </div>
    </div>
  </div>
</section>

<section class="ucan" id="3">
  <div class="container">
    <div class="uboxes">
      <div class="ubox1">
        <h1>Вы  можете</h1>
      </div>
      <div class="ubox">

        <img src="https://image.ibb.co/coGPMU/1ucan.png">
        <p>Выявить потребности определенного рынка товаров, работ и услуг</p>
      </div>
      <div class="ubox">
        <img src="https://image.ibb.co/mfuYFp/2ucan.png">
        <p>Оценить динамику объемов закупок и масштабы заказов по республике</p>
      </div>
      <div class="ubox">
        <img src="https://image.ibb.co/g4fUo9/3ucan.png">
        <p>Определить основных своих конкурентов, масштаб бизнеса компании</p>
      </div>
      <div class="ubox">
        <img src="https://image.ibb.co/jHMr1U/4ucan.png">
        <p>Найти производителя и получить полное досье</p>
      </div>
      <div class="ubox">
        <img src="https://image.ibb.co/craJgU/5ucan.png">
        <p>Получить готовый маркетинговый анализ за короткий отрезок времени</p>
      </div>
      <div class="ubox">
        <img src="https://image.ibb.co/fSPYFp/6ucan.png">
        <p>Изучить ценовую политику, узнать цены на конкретный товар, работу или услугу</p>
      </div>
    </div>
  </div>
</section>
<%=render "partials/contacts"%>
