<html>
<head>
  <title>ura</title>
  <link rel="stylesheet" type="text/css" href="style.css">
        <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Spectral+SC" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=PT+Serif" rel="stylesheet">



</head>

<body>
  <header class="header">
    <div class="navbar">
      <div class="navbargrid">
        <label id="menuicon" for="toggle"><img  id="menuicon" src="./img/icons/menu.svg"></label>
        <div class="menugrid">
          <div class="menubox"><a href="#">Главная</a></div>
          <div class="menubox"><a href="#">Планы закупа</a></div>
          <div class="menubox"><a href="#">Вакансии</a></div>
          <div class="menubox"><a href="#">Услуги</a></div>
          <div class="menubox"><a href="#">Проекты</a></div>
          <div class="menuboxp"><a href="#1">О продукте</a></div>
          <div class="menuboxp"><a href="#2">Портал предлагает</a></div>
          <div class="menuboxp"><a href="#3">Вы сможете</a></div>
          <div class="menuboxp"><a href="#4">Контакты</a></div>
        </div>
         <div class="socialmedia">




          <a target="_blank" rel="noopener noreferrer" href="https://facebook.com"><img src="https://image.ibb.co/hXL8GU/facebook.png"></a>
          <a target="_blank" rel="noopener noreferrer" href="https://vk.com"><img src="https://image.ibb.co/mFLm39/vk.png"></a>
          <a target="_blank" rel="noopener noreferrer" href="https://twitter.com"><img src="https://image.ibb.co/mWskVp/twitter.png"></a>
          <a target="_blank" rel="noopener noreferrer" href="https://youtube.com"><img src="https://image.ibb.co/fN1hbU/youtube.png"></a>
          <a target="_blank" rel="noopener noreferrer" href="https://instagram.com"><img src="https://image.ibb.co/jDkiGU/instagram.png"></a>
</div>
      </div>
    </div>
    <input type="checkbox" id="toggle"/>
    <div class="responsivemenu">
      <div class="menubox"><a href="#">Главная</a></div>
      <div class="menubox"><a href="#">Планы закупа</a></div>
      <div class="menubox"><a href="#">Вакансии</a></div>
      <div class="menubox"><a href="#">Услуги</a></div>
      <div class="menubox"><a href="#">Проекты</a></div>
      <div class="menuboxp"><a href="#1">О продукте</a></div>
      <div class="menuboxp"><a href="#2">Портал предлагает</a></div>
      <div class="menuboxp"><a href="#3">Вы сможете</a></div>
      <div class="menuboxp"><a href="#4">Контакты</a></div>
    </div>
  </header>


  <!-- <div class="main"> -->
  <!-- <section class="jumbo1">
    <div class="jumbogrid">
      <div class="jumbobox">
      <img src="https://image.ibb.co/bxL6J9/branding.png">
      </div>
      <div class="jumbobox">
      <h1>ЦЕНТР МОНИТОРИНГА<br>И ЭКСПЕРТИЗЫ<br>РЫНКА</h1>
      </div>
    </div>
  </section> -->
  <!-- Container for the image gallery -->
<!--<div class="container1"> -->

<!-- Full-width images with number text -->
<!-- <div class="mySlides">
  <section class="jumbo">
    <div class="jumbogrid">
      <div class="jumbobox">
      <img src="https://image.ibb.co/bxL6J9/branding.png">
      </div>
      <div class="jumbobox">
      <h1>ЦЕНТР МОНИТОРИНГА<br>И ЭКСПЕРТИЗЫ<br>РЫНКА</h1>
      </div>
    </div>
  </section>
</div> -->

<div class="flexslider">
  <ul class="slides">
    <li>
      <img src="https://image.ibb.co/nCHxQp/image5.jpg" />
    </li>
    <li>
      <img src="https://image.ibb.co/iR7Wkp/image1.jpg" />
    </li>
    <li>
      <img src="http://via.placeholder.com/350x150" />
    </li>
  </ul>
</div>
<!-- 
<div class="mySlides">
  <div class="numbertext">2 / 6</div>

      <div class=first"style="width:100%; height: 100%; background-image: url("https://image.ibb.co/nCHxQp/image5.jpg"); background-size: cover"></div>
  </div>

  <div class="mySlides">
    <div class="numbertext">3 / 6</div>
      <div style="width:100%; height: 100%; background-image: url("https://image.ibb.co/iR7Wkp/image1.jpg"); background-size: cover"></div>
  </div>

  <div class="mySlides">
    <div class="numbertext">4 / 6</div>
      <div style="width:100%; height: 100%; background-image: url("https://image.ibb.co/d90j5p/image3.jpg"); background-size: cover"></div>
  </div>

  <div class="mySlides">
    <div class="numbertext">5 / 6</div>
      <div style="width:100%; height: 100%; background-image: url("https://image.ibb.co/dwxLd9/image4.jpg"); background-size: cover"></div>
  </div>
-->
<!-- Next and previous buttons -->
<!-- <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
<a class="next" onclick="plusSlides(1)">&#10095;</a>

</div>
 -->
    <section class="about" id="1">
      <div class="container">
      <h1>О продукте</h1>
        <div class="agrid">
          <div class="abox">
          <p>Центр мониторинга и экспертизы рынка, дочернее предприятие Национальной Палаты Предпринимателей РК «Атамекен» планирует создание информационно-аналитического портала Фокус Аналитикс.</p>
      </div>
      <div class="abox"></div>
      <div class="abox"></div>
      <div class="abox">
        <p>Настоящий портал генерирует информацию из различных государственных баз данных и дает возможность получать актуальные данные, формализованные в аналитические исследования, маркетинговые заключения, обзоры и прочие информационные инструменты для бизнеса.</p>
      </div>
      </div>
    </div>
    </section>

    <section class="suggest" id="2">
      <div class="container">
        <div class="sgrid">
          <div class="sbox sbox0">
            <h1>Портал предлагает</h1>
          </div>
          <div class="sbox sbox1">
            <img src="./img/icons/white.png">
            <p>Открытую аналитическую информацию по основным показателям рынка, которую предприниматель получает по принципу «одного окна»</p>
          </div>
          <div class="sbox sbox2">
            <img src="./img/icons/white.png">
            <p>Проведение исследований по заданным параметрам</p>
          </div>
          <div class="sbox sbox3">
            <img src="./img/icons/white.png">
            <p>Маркетинговые обзоры и заключения для бизнес-проектов</p>
          </div>
          <div class="sbox sbox4">
            <img src="./img/icons/white.png">
            <p>Анализ цен и исследование их динамики</p>
          </div>
          <div class="sbox sbox5">
            <img src="./img/icons/white.png">
            <p>Надежный механизм подбора поставщиков</p>
          </div>
          <div class="sbox sbox6">
            <img src="./img/icons/white.png">
            <p>Актуальную информацию о производителях и дистрибьюторах товаров и услуг</p>
          </div>
        </div>
      </div>
    </section>

    <section class="ucan" id="3">
      <div class="container">
        <div class="uboxes">
          <div class="ubox1">
            <h1>Вы сможете</h1>
          </div>
          <div class="ubox">

            <img src="https://image.ibb.co/coGPMU/1ucan.png">
            <p>Выявить потребности определенного рынка товаров, работ и услуг</p>
          </div>
          <div class="ubox">
            <img src="https://image.ibb.co/mfuYFp/2ucan.png">
            <p>Оценить динамику объемов закупок и масштабы заказов по республике</p>
          </div>
          <div class="ubox">
            <img src="https://image.ibb.co/g4fUo9/3ucan.png">
            <p>Определить основных своих конкурентов, масштаб бизнеса компании</p>
          </div>
          <div class="ubox">
            <img src="https://image.ibb.co/jHMr1U/4ucan.png">
            <p>Найти производителя и получить полное досье</p>
          </div>
          <div class="ubox">
            <img src="https://image.ibb.co/craJgU/5ucan.png">
            <p>Получить готовый маркетинговый анализ за короткий отрезок времени</p>
          </div>
          <div class="ubox">
            <img src="https://image.ibb.co/fSPYFp/6ucan.png">
            <p>Изучить ценовую политику, узнать цены на конкретный товар, работу или услугу</p>
          </div>
        </div>
      </div>
    </section>

    <section class="contacts" id="4">
      <!-- <div class="container"> -->
        <div class="textboxc">
          <p>Адрес<br>Казахстан, г. Астана, ул. Кунаева 12/1, ВП 18</p>
          <p>Тел<br>+7 (7172) 27 04 60 вн.2405 (call center)<br>+7 (7172) 24 98 72</p>
          <p>email<br>demo@cmer.kz</p>
        <!-- </div> -->
    </section>

  <!-- </div>  div from main -->
  <footer class="footer">
    <p>© 2018 — Центр мониторинга и экспертизы рынка</p>
  </footer>


</body>

</html>