  
<section class="dosie">
  <div class="header1" id="1">
    <div class="container">
      <h1>Досье поставщиков, заказчиков</h1>
    </div>
  </div>
    <div class="container">
      <div class="grid">
        <div class="box">
        <p><span>Досье поставщика</span>
          <br>— год основания предприятия-поставщика, история создания компании;
          <br>— номенклатура продукции (ресурсов) и услуг;
          <br>— сведения о числе работников;
          <br>— данные о проектной мощности;
          <br>— сведения о филиалах, дочерних предприятиях, об участии поставщика в объединениях, ассоциациях;
          <br>— история участия в закупках;
          <br>— конкуренты;
          <br>— карта поставок;
          <br>— сведения о владельцах предприятия-поставщика;
          <br>— адреса и контакты компании.</p>
        </div>
        <div class="box"><img src="http://demo.cmer.kz/wp-content/uploads/2015/09/evernote-remember-everything-about-your-extension-career-49-638.jpg"></div>
        <div class="box"><img src="http://demo.cmer.kz/wp-content/uploads/2015/09/imggallery3.jpg"></div>
          <p><span>Досье по каждому заказчику</span>
          <br>— год основания, история создания компании;
          <br>— краткая характеристика и особенности бизнеса;
          <br>— сведения об учредителях компании, доля иностранного участия;
          <br>— сведения о числе работников;
          <br>— ежегодный объем закупаемых ресурсов;
          <br>— прогнозируемый спрос на ТРУ по интересующим сегментам (от 1 до 3 лет);
          <br>— приоритетные направления заказываемых ресурсов;
          <br>— крупные поставщики (отечественные/иностранные);
          <br>— адреса и контакты компании и филиалов.<p>
        </div>
        <div class="boxres"><img src="http://demo.cmer.kz/wp-content/uploads/2015/09/imggallery3.jpg"></div>
      </div>
    </div>
</section>


    <section class="analitics">
      <div class="header" id="2">
        <div class="container">
          <h1>Анализ поставщиков по сегментам рынка</h1>
        </div>
      </div>
      <div class="container">
        <div class="anagrid">
          <div class="anabox">
      <p><span>Анализ текущей ситуации</span>
<br>Основные секторы исследования
<br>Общее количество игроков на рынке
<br>Рыночная доля игроков</p>

<p><span>Анализ основных игроков, осуществляющих деятельность на территории РК</span>
<br>Определение топ-20 в целом
<br>Определение лидеров по закупкам в разрезе заказчиков:
<br>Недропользователи
<br>Группа компаний Фонда Самрук-Казына
<br>Государственные органы и компании
<br>Горнорудные компании
<br>Разработчики общераспространенных полезных ископаемых</p>

<p><span>Определение лидеров в региональном масштабе:</span>
<br>Восточный Казахстан
<br>Южный Казахстан
<br>Западный Казахстан
<br>Северный Казахстан
<br>Центральный Казахстан</p>

<p><span>Динамика поставок за последние 3 года</span>
<br>По регионам
<br>По заказчикам</p>

<p><span>Детализированная характеристика продукции</span></p>

<p><span>ТОП -10 заказчиков</span></p>

<p><span>Справочная информация по лидерам</span>
<br>Адрес
<br>Телефоны
<br>История создания
<br>Специализация
<br>Количество местного персонала</p>
          </div>
          <div class="anabox">
            <img class="anaimages" src="http://demo.cmer.kz/wp-content/uploads/2015/09/%D0%A2%D0%9E%D0%9F-20-%D0%BE%D1%81%D0%BD%D0%BE%D0%B2%D0%BD%D1%8B%D1%85-%D0%B8%D0%B3%D1%80%D0%BE%D0%BA%D0%BE%D0%B2-%D1%80%D1%8B%D0%BD%D0%BA%D0%B02.jpg">
            <img class="anaimages" src="http://demo.cmer.kz/wp-content/uploads/2015/09/%D0%A2%D0%9E%D0%9F-10-%D0%BA%D1%80%D1%83%D0%BF%D0%BD%D1%8B%D1%85-%D0%BD%D0%B5%D0%B4%D1%80%D0%BE%D0%BF%D0%BE%D0%BB%D1%8C%D0%B7%D0%BE%D0%B2%D0%B0%D1%82%D0%B5%D0%BB%D0%B5%D0%B91.jpg">
            <img class="anaimages" src="http://demo.cmer.kz/wp-content/uploads/2015/09/%D0%94%D0%B8%D0%BD%D0%B0%D0%BC%D0%B8%D0%BA%D0%B0-%D0%B7%D0%B0%D0%BA%D1%83%D0%BF%D0%BE%D0%BA-%D0%A2%D0%A0%D0%A3-%D0%BF%D0%BE-%D1%80%D0%B5%D0%B3%D0%B8%D0%BE%D0%BD%D0%B0%D0%BC-%D0%B1%D0%B5%D0%B7-%D1%86%D0%B8%D1%84%D1%801.jpg">
        </div>
        </div>
      </div>
    </section>



    <section class="marketing">
      <div class="header" id="3">
        <div class="container">
          <h1>Маркетинговое заключение для бизнес-проектов</h1>
        </div>
      </div>
      <div class="container">
        <div class="anagrid">
          <div class="anabox">
<p><span>Анализ текущей ситуации</span>
<br>Описание продукта
<br>Основные секторы исследования
<br>Общее количество игроков на рынке
<br>Рыночная доля игроков</p>

<p><span>Анализ конкурентов</span>
<br>Определение лидеров в региональном масштабе:
<br>Восточный Казахстан
<br>Южный Казахстан
<br>Западный Казахстан
<br>Северный Казахстан
<br>Центральный Казахстан</p>

<p><span>Определение лидеров по закупкам в разрезе заказчиков:</span>
<br>Недропользователи
<br>Группа компаний Фонда Самрук-Казына
<br>Государственные органы и компании
<br>Горнорудные компании
<br>Разработчики общераспространенных полезных ископаемых</p>

<p>Определение конкурентов по цене в разрезе регионов и заказчиков</p>

<p><span>Анализ спроса на объект исследования</span>
<br>Совокупный спрос на объект исследования по РК
<br>Определение спроса в региональном масштабе:
<br>Восточный Казахстан
<br>Южный Казахстан
<br>Западный Казахстан
<br>Северный Казахстан
<br>Центральный Казахстан</p>

<p><span>Определение спроса в разрезе заказчиков:</span>
<br>Недропользователи
<br>Группа компаний Фонда Самрук-Казына
<br>Государственные органы и компании
<br>Горнорудные компании
<br>Разработчики общераспространенных полезных ископаемых</p>
          </div>
          <div class="anabox">
            <img class="marimages" src="http://demo.cmer.kz/wp-content/uploads/2015/09/2..jpeg">
            <img class="marimages" src="http://demo.cmer.kz/wp-content/uploads/2015/09/%D0%BD%D0%B0-%D1%81%D0%B0%D0%B9%D1%82-%D0%B1%D0%B5%D0%BB%D1%8B%D0%B9.jpeg">
          </div>
        </div>
      </div>
    </section>



    <section class="compare">
      <div class="header" id="4">
        <div class="container">
          <h1>Сравнительный анализ цен</h1>
        </div>
      </div>
      <div class="container">
      <div class="anagrid">
        <div class="anabox">
<p><span>Анализ текущей ситуации</span>
<br>Основные участники исследования
<br>Текущее состояние рынка объекта исследования
<br>Представленность объекта исследования в регионах РК и особенности его развития
<br>Региональный анализ цен
<br>Восточный Казахстан
<br>Южный Казахстан
<br>Западный Казахстан
<br>Северный Казахстан
<br>Центральный Казахстан</p>

<p><span>Анализ цен по заказчикам объекта исследования</span>
<br>Недропользователи
<br>Группа компаний Фонда Самрук-Казына
<br>Государственные органы и компании
<br>Горнорудные компании
<br>Разработчики общераспространенных полезных ископаемых</p>

<p><span>Динамика цен на объект исследования за последние несколько лет</span>
<br>По республике
<br>По регионам
<br>По заказчикам</p>

<p><span>Средние рыночные цены на объект исследования и отклонения от нее</span>
<br>По регионам
<br>По заказчикам</p>

<p><span>Импортная цена на объект исследования</span>
<br>Из стран ТС
<br>Из стран ЕАЭС
<br>Из стран ЕС
<br>Из других стран</p>

<p><span>Экспортная цена на объект исследования</span>
<br>в страны ТС
<br>в страны ЕАЭС
<br>в страны ЕС
<br>в другие страны</p>
        </div>
        <div class="anabox">
          <img class="anaimages" src="http://demo.cmer.kz/wp-content/uploads/2015/09/%D0%A1%D1%80%D0%B5%D0%B4%D0%BD%D1%8F%D1%8F-%D1%80%D1%8B%D0%BD%D0%BE%D1%87%D0%BD%D0%B0%D1%8F-%D1%86%D0%B5%D0%BD%D0%B0-%D0%BD%D0%B0-%D1%89%D0%B5%D0%B1%D0%B5%D0%BD%D1%8C-%D0%B2-%D0%9A%D0%B0%D0%B7%D0%B0%D1%85%D1%81%D1%82%D0%B0%D0%BD%D0%B5.png">
          <img class="anaimages" src="http://demo.cmer.kz/wp-content/uploads/2015/09/%D0%94%D0%B8%D0%BD%D0%B0%D0%BC%D0%B8%D0%BA%D0%B0-%D1%86%D0%B5%D0%BD-%D0%BD%D0%B0-%D1%89%D0%B5%D0%B1%D0%B5%D0%BD%D1%8C-%D0%B7%D0%B0-%D0%BF%D0%BE%D1%81%D0%BB%D0%B5%D0%B4%D0%BD%D0%B8%D0%B5-5-%D0%BB%D0%B5%D1%82.png">
          <img class="anaimages" src="http://demo.cmer.kz/wp-content/uploads/2015/09/%D0%A1%D1%80%D0%B0%D0%B2%D0%BD%D0%B5%D0%BD%D0%B8%D0%B5-%D1%86%D0%B5%D0%BD%D1%8B-%D0%B8%D0%BC%D0%BF%D0%BE%D1%80%D1%82%D0%B0-%D0%B8-%D1%8D%D0%BA%D1%81%D0%BF%D0%BE%D1%80%D1%82%D0%B0-%D1%89%D0%B5%D0%B1%D0%BD%D1%8F-%D0%B2-2014-%D0%B3%D0%BE%D0%B4%D1%83.png">
        </div>
      </div>
    </section>